*{
    margin: 0;
    padding: 0;
    background-color: wheat;
    font-family: "Nunito sans", Georgia, 'Times New Roman', Times, serif;

}

 .container{
    margin: 0px 20px 20px 20px; 
}

h1{
    font-size: 36px;
    font-family: "Nunito sans", Georgia, 'Times New Roman', Times, serif;
    font-weight: 900;
    text-align: center;
    margin-bottom: 10px;
}

img{
    width: 95%;
    height: 100%;
    /* margin-left: 10px; */
    margin-top: 10px;

}

img, ul, ol, li{
    margin-left: 30px;
}


