*{
    margin: 0;
    padding: 0;
    background-color: wheat;
}

h1{
    font-size: 36px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 900;
    text-align: center;
    margin-bottom: 10px;
}

img{
    width: 95%;
    height: 100%;
    margin-left: 30px;
    margin-top: 10px;

}

img, ul, ol, li{
    margin-left: 30px;
}


